* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive; /* Fuente romántica */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que ocupe toda la pantalla */
    background-color: #ffe5e5;
    overflow: hidden; /* Evita el scroll innecesario */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido */
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 0; /* Elimina cualquier espacio extra */
    min-height: 100vh; /* Ocupar toda la pantalla */
}

.gif-image {
    width: 100%;
    max-width: 120px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.3);
}

/* Ajustes específicos para móviles */
@media screen and (max-width: 480px) {
    .container {
        max-width: 90%;
    }

    .gif-image {
        max-width: 100px;
    }
}


